.weather {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  color: rgb(135, 135, 135);
}

.weather h1 {
  color: #202124;
  font-size: 24px;
  margin: 20px 0 0 0;
  line-height: 26px;
}

.weather ul {
  margin: 0;
  padding: 0;
}

.weather li {
  color: #70757a;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.weather img {
  height: 64px;
  margin-right: 30px;
  width: 64px;
}

.weather .temp {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  margin-left: 10px;
}

.weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  margin-left: 1px;
}
